#grey{
    width: 200px;
    height: 100px;
    background-color: grey;
    margin: 10px;
}
#red{
    width: 200px;
    height: 100px;
    background-color:red;
    margin: 10px;
}
#blue{
    width: 200px;
    height: 100px;
    background-color:blue;
    margin: 10px;
}
#pink{
    width: 200px;
    height: 100px;
    background-color:pink;
    margin: 10px;
}
#black{
    width: 200px;
    height: 100px;
    background-color:black;
    margin: 10px;
}
#gold{
    width: 200px;
    height: 100px;
    background-color:gold;
    margin: 10px;
}
#purple{
    width: 200px;
    height: 100px;
    background-color:purple;
    margin: 10px;
}
#green{
    width: 200px;
    height: 100px;
    background-color:green;
    margin: 10px;
}
.main{
    display: flex;
    /* background-color: blueviolet; */
    flex-wrap: wrap;
}